<% include ./partials/header%>
<div class="container">
	<div class="row">
		<h1 class="text-center">SIGN UP</h1>
			<div style="width:30%; margin: 30px auto;">
				<form action="/register" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="username" placeholder="username" required>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" placeholder="password" required>
					</div>
						<button class="btnbtn-lg btn btn-primary btn-block">Submit</button>
					</div>
			</form>
		</div>
	</div>
</div>
<% include ./partials/footer%>